.container {
  display: flex;
  align-items: center;
  margin-top: 67px;
  flex-direction: column;
}

.intro_big {
  color: #0a0c6a;
  font-size: 36px;
  text-align: center;
  font-family: graphikBold;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.intro_xs {
  font-size: 15px;
  line-height: 150%;
  margin-top: 16px;
  text-align: center;
  letter-spacing: -0.01em;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #717171;
}
.intro_xs .last_xs:last-child {
  position: relative;
  align-self: center;
}
.line {
  position: absolute;
  bottom: 1px;
  z-index: -1;
  height: 10px;
  background-color: rgba(102, 102, 255, 0.3);
  width: 100%;
}

@media screen and (min-width: 500px) {
  .intro_big {
    font-size: 40px;
  }
}
@media screen and (min-width: 767px) {
  .intro_big {
    font-size: 42px;
  }
  .container {
    margin-top: 70px;
  }
}
@media screen and (min-width: 901px) {
  .intro_big {
    font-size: 57px;
  }
}
